*{
    margin:0px;
    padding:10px;
    box-sizing: border-box;
    
    
}

body{
    font-family: 'Lora', serif;
}
a{
    text-decoration: none;
    
}
a:hover{
    color:#343434;
}
.logo a:hover{
    color:#343434;
    
    
}

.padre{
    display:flex;
    flex-flow: column nowrap;
    max-width:1200px;
    /* @media only screen and (max-width:1200px) */
    margin-top:0px;
    padding-top:0px;

}
    .header{
        /* background-color: black; */
        background: url(images/header.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display:flex;
        flex-flow: column nowrap;
        margin-top:0px;
        height: 400px;
        justify-content: space-between;
        
        
    }
        .menu{
           
            
            background:rgba(0,0,0,.1);
            display:flex;
            flex-flow: row nowrap;
            padding-top: 0px;
            margin-top: 0px;
            border-bottom: 1px solid rgba(255,255,255,.5);
            height: 60px;
            
        }
            .logo{               
               
               
                align-self: center;
                
            }
                .imagen-logo{
                
                    width: 50px;
                    height: 50px;
                }
            .nav{               
               
                flex:5 1 auto;

            }
            .social{               
               
                flex:1 1 auto;
                display: flex;

            }
        
            h1{
                background-color: rgba(0,0,0,.1); 
              
                align-items: center;
                height: 200px;
            }
        .texto-principal h1{
           
            text-align: center;
            color:rgb(232,181,161);
        }

    .section{
        background-color: black;
        display:flex;
           
    }
        .articulos {
            
            background-color: rgb(78,78,106);
            flex:2 1 auto;
            display:flex;
            flex-flow: row wrap;
        }
            .article{
                
                background-color: rgb(31,108,176);
                flex:1 1 45%;
                margin: 10px 10px 0 0;

                /* img{
                    width: 100%;
                } */
            }
            h3{
                margin-top: -60px;
                color:aliceblue;
            }
            h2{
                color:aliceblue;
                background-color:rgb(240,128,128);
                margin: 0px 0px 0px 0px;
               
            }

                .imagen {
                    /* width:400px; */
                    height:200px;
                    width:100%;
                    padding: 0px;
                   
                }

            
            .navegacion{
               
                background-color: rgb(112,163,196);
                flex:1 1 100%;
            }
            .aside{
                
                background-color: rgb(247,63,82);
                flex:1 1 auto;
            }
            .publicidad{
                background:#3F3351;
                background-color: rgb(253,233,132);
            }
    .footer{
        background-color: black;
    }
        .pie{
           
            /* background-color: rgb(230,175,46); */
            text-align:center;
            color:aliceblue;
            
        }

        

        @media all and (max-width: 768px){
            .section {
                flex-direction:column;               
                background-color: rgb(254,255,3);
            }
             .menu{
                flex-direction: column;
                height:auto;
            }
            .aside{
                display:flex;
                flex-direction:column;
                /* justify-content:center; */
            } 
        }

        @media all and (max-width:600px){
            .articulos{
                flex-direction:column;
                

            }
        }