*{
    margin:10px;
    padding:10px;
    box-sizing: border-box;
    
}

.padre{
    display:flex;
    flex-flow: column nowrap;
    max-width:1200px;
    /* @media only screen and (max-width:1200px) */
    margin-top:0px;
    padding-top:0px;

}
    .header{
        background-color: black;
        display:flex;
        flex-flow: column nowrap;
        margin-top:0px;
    }
        .menu{
           
            background-color: rgb(45,64,89);
            display:flex;
            flex-flow: row nowrap;
        }
            .logo{               
                background-color: rgb(234,84,85);
                flex: 1 1 auto;

            }
            .nav{               
                background-color: rgb(234,84,85);
                flex:5 1 auto;

            }
            .social{               
                background-color: rgb(234,84,85);
                flex:1 1 auto;

            }
        .texto-principal{           
            background-color: rgb(240,123,63);
        }
            h1{              
                background-color: rgb(254,212,96);
            }

    .section{
        background-color: black;
        display:flex;
           
    }
        .articulos {
            
            background-color: rgb(78,78,106);
            flex:2 1 auto;
            display:flex;
            flex-flow: row wrap;
        }
            .article{
                
                background-color: rgb(31,108,176);
                flex:1 1 40%;
            }
            .navegacion{
               
                background-color: rgb(112,163,196);
                flex:1 1 100%;
            }
            .aside{
                
                background-color: rgb(247,63,82);
                flex:1 1 auto;
            }
            .publicidad{
                background:#3F3351;
                background-color: rgb(253,233,132);
            }
    .footer{
        background-color: black;
    }
        .pie{
           
            background-color: rgb(230,175,46);
        }

        

        @media all and (max-width: 768px){
            .section {
                flex-direction:column;               
                background-color: rgb(254,255,3);
            }
             .menu{
                flex-direction: column;
                height:auto;
            }
            .aside{
                display:flex;
                flex-direction:column;
                /* justify-content:center; */
            } 
        }

        @media all and (max-width:600px){
            .articulos{
                flex-direction:column;
                

            }
        }